.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 136px auto 0;
  padding: 10px 82px 10px 81px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 46px auto 0;
  padding: 10px 69px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 46px auto 60px;
  padding: 10px 73px;
}